<configuration>

    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] | %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- rolling file appender: create one file per day, keep logs of last 30 days, max. 100 MB -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>test.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] | %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- log level configurations per package or class -->
    <logger name="org.hibernate" level="debug"/>
    <logger name="org.hibernate.SQL" level="debug"/>

    <!-- root logger: log everything with level info and above to console and file -->
    <root level="trace">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
